body{
    background-color: rgb(163, 139, 139);
}


.imagediv1{
    height: 200px;
    width: 300px;
    margin-bottom: 50px;
}
.imagetext1{
    margin-top: 0px;
}
.image1{
    height: 200px;
    width: 300px;
}

